.mainTable {
    width: 100%;
    margin-top: 5rem;
    /* text-align: center; */
    color: white;
    font-size: 20px;
    border-collapse: collapse;
    position: relative;
    z-index: 2;
    
}

.coulmnHead {
    text-align: left;
    text-transform: uppercase;
    font-size: 2rem;
}

.coulmnHead:first-of-type {
    width: 50%;
}

.tableRow {
    border-bottom: 3px solid white;
}

.tableRow td {
    padding: 1rem 0;
    font-size: 2rem;
    color: white;
}

.tableRow td:hover {
    cursor: pointer;
}

.imageHover {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 50%;
    height: 100vh;
    width: 50%;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
}