.mainTable {
    width: 100%;
    margin-top: 5rem;
    /* text-align: center; */
    color: white;
    font-size: 20px;
    border-collapse: collapse;
    position: relative;
    z-index: 2;
    
}


.coulmnHead {
    text-align: left;
    text-transform: uppercase;
    font-size: 2rem;
}

.coulmnHead:first-of-type {
    width: 50%;
}

.tableRow {
    border-bottom: 3px solid white;
    cursor: pointer;
}

.tableRow td {
    padding: 1rem 0;
    font-size: 2rem;
    color: white;
}

.tableRow th {
    cursor: default;
}

.imageHover {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 50%;
    height: 100vh;
    width: 50%;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 900px){
    .mainTable {
        margin-top: 1rem;
    }
    .tableRow {
        cursor: pointer;
    }

    .imageHover {
        display: none !important;
    }

    .coulmnHead, .tableRow td {
        font-size: calc(1.9vw + 1.9vh);
    }
    
    .coulmnYear, .coulmnArchitect{
        display: none;
    }

    .coulmnCity {
        float: right;
        margin-right: 1rem;
    }

    .coulmnBuilding {
        float: left;
        margin-left: 1rem;
    }
}