.mainTable {
    width: 100%;
    margin-top: 5rem;
    /* text-align: center; */
    color: white;
    font-size: 20px;
    border-collapse: collapse;
    position: relative;
    z-index: 2;
}

.coulmnHead {
    text-align: left;
    text-transform: uppercase;
    font-size: 2rem;
}

.coulmnHead:first-of-type {
    width: 50%;
}

.tableRow {
    border-bottom: 3px solid white;
  }

.imageHover {
    position: fixed;
    top: 0;
    left: 50%;
    height: 100vh;
    width: 50%;
    z-index: 1;
    background-image: url("https://images.adsttc.com/media/images/51e8/53d1/e8e4/4e33/c300/0014/slideshow/2608904426_cf57258beb_o.jpg?1374180293");
    background-size: cover;
    background-repeat: no-repeat;
}