.container {
    width: 100%;
    min-height: 100vh;
    /* text-align: center; */
    background-color: black;
    color: white;
    display: flex;
}

.homeBtn {
    margin: 10px;
    padding: 0.5rem;
    width: 2rem;
    height: 1.5rem;
}

.homeBtn:hover {
    border: 1px solid khaki;
    cursor: pointer;
}

.container h1 {
    margin: 0;
    font-size: 3rem;
    color: khaki;
    text-transform: uppercase;
    font-family: 'Leiko';
    font-weight: lighter;
    animation: fadein 2s;
}

.leftDiv {
    width: 50%;
    /* padding: 2rem; */
}

.leftDiv h1 {
    text-align: center;
}

.metaData {
    text-align: center;
}

.metaData span {
    animation: fadein 2s;
}

.metaData span:first-of-type {
    color: khaki;
}

.rightDiv {
    position: fixed;
    left: 50%;
    height: 100vh;
    background-color: khaki;
    background-image: linear-gradient(to bottom right, khaki, white);
    width: 50%;
    text-align: center;
}

.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.rightDiv img {
    max-height: 80vh;
    max-width: 80%;
}

.rightArrow {
    padding: 1rem;
    cursor: pointer;
}

.leftArrow {
    padding: 1rem;
    cursor: pointer;
}

.description {
    margin-top: 30px;
    font-size: 1.8rem;
    padding: 1rem;
    transform-origin: bottom;
    animation: fadein 2s;
    /* animation: grow 3s; */
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 100; }
}