.container {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    background-color: black;
    color: white;
}

.container h1 {
    margin: 0;
    font-size: 3rem;
    color: khaki;
    text-transform: uppercase;
    font-family: 'Leiko';
    font-weight: lighter;
}