.container {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    color: white;
}

.homeBtn {
    margin: 10px;
    padding: 0.5rem;
    width: 2rem;
    height: 1.5rem;
    transition: scale 0.2s, border 0.2s;
}

.homeBtn:hover {
    border: 1px solid khaki;
    cursor: pointer;
    scale: 1.2;
}

.container h1 {
    margin: 0;
    font-size: 3rem;
    color: khaki;
    text-transform: uppercase;
    font-family: 'Leiko';
    font-weight: lighter;
}

.topHalfIntro {
    animation-name: top-half-intro;
    animation-duration: 2s;
    clip-path: inset(0 0 0 0);
}

@keyframes top-half-intro {
    from {
        clip-path: inset(100% 0 0 0);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
  }

.mainDiv h1 {
    text-align: center;
    margin-bottom: 10px;
}

.metaData {
    text-align: center;
    margin-bottom: 10px;
    
}

.metaData span:first-of-type {
    color: khaki;
}

.arrowsDiv img:hover {
    scale: 1.2;
}

.rightArrow {
    margin: 1rem;
    cursor: pointer;
}

.leftArrow {
    margin: 1rem;
    cursor: pointer;
}

.description {
    font-size: 1.8rem;
    line-height: 2.5rem;
    width: 90%;
    /* padding: 1rem; */
    margin: auto;
    /* outline: 1px solid red; */
    padding-bottom: 1rem;
}

.descriptionAnimation {
    animation-name: description-animation;
    animation-duration: 4s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes description-animation {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
  }

  .homeArrowAnimation {
    animation-name: home-arrow-animation;
    animation-delay: 1s;
    animation-duration: 1.3s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes home-arrow-animation {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
  }

.imageContainer {
    width: 90%;
    height: 50vh;
    /* background-color: blue; */
    text-align: center;
    margin: 20px auto auto auto;
}

.buildingImg {
    height: 85%;
    max-width: 90vw;
    animation-duration: 1.5s;
    animation-name: main-image-animation;
}

@keyframes main-image-animation {
    from {
        clip-path: inset(100% 0 0 0);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
  }

  @media screen and (max-width: 800px){
    .container h1 {
        font-size: calc(2.5vw + 2.5vh);
    }

    .homeBtn {
        width: 1.8rem;
        height: 1.3rem;
    }

    .description {
        text-align: left;
        font-size: calc(1.3vw + 1.3vh);
        line-height: calc(2vw + 2vh);
    }

    .metaData {
        text-align: center;
        font-size: calc(1.2vw + 1.2vh);
    }
  }