@font-face {
  font-family: 'vercetti';
  src: url('./OpenType\ WOFFs/Vercetti-Regular.woff2') format('woff2'),
       url('./OpenType\ WOFFs/Vercetti-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'NeueMeranaSemi';
  src: url('./Neue-Metana-Next-Free-Personal-Use/NeueMetanaNext-SemiBold.otf') format("opentype");
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Leiko';
  src: url('./Leiko-Regular.otf') format("opentype");
  font-weight: normal;
  font-style: normal;

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'vercetti';
  /* height: 100%;
  /* background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.75)), url("../public/brutalist-wallpaper.jpeg"); */
  /* background-image: url("../public/brutalist-wallpaper.jpeg");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat; */
}

.mainDiv {
  margin: 0;
  min-height: 100vh;
  background-image: linear-gradient(rgba(46,46,46,0.9), rgba(46,46,46,0.9)), url("../public/brutalist-wallpaper.jpeg");
  /* background-image: url("../public/brutalist-wallpaper.jpeg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
}

